@model Looksmaxxing.Models.Sigmas.SigmaImageViewModel

<div class="form-group row col-sm-4 offset-2">
    <div>@Model.ImageTitle</div>
    <img class="card-imgtop" src="@Model.Image" asp-append-version="true"/>
</div>