@model Looksmaxxing.Models.Sigmas.SigmaCreateViewModel

<div>
    <form method="post" asp-action="Update" enctype="multipart/form-data">

        <div class="form-group-row">
            <label asp-for="SigmaName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SigmaName" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SigmaType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SigmaType" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SigmaMove" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SigmaMove" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SigmaMovePower" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SigmaMovePower" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SpecialSigmaMove" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SpecialSigmaMove" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="SpecialSigmaMovePower" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SpecialSigmaMovePower" class="form-control" />
            </div>
        </div>

        <div class="form-group-row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <div class="custom-file">
                    <input class="form-control custom-file-input"
                           asp-for="Files"
                           multiple type="file" />
                    <label class="custom-file-label">Choose Images from device -></label>
                </div>
            </div>
        </div>
        <div>
            @foreach(var image in Model.Image)
            {
                <partial name="_Images" model="image" />
                <input asp-action="removeImage" asp-controller="sigmas" asp-route-id="@image.ImageID" type="submit" class="btn btn-danger" value="Delete image" />
            }
        </div>

        <input asp-action="Update" asp-controller="Sigmas" type="submit"
               class="btn btn-primary" value="Configure this Sigma" />
        <a asp-action="index" class="btn btn-primary">Cancel</a>

    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-input');
                var files = $(this)[0].files;
                if (files.lenght > 1) {
                    fileLabel.html(files.lenght + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}